---
layout: default
title: Weight Melt
subTitle: The Healthier, Happier You, Program
contact:
    phone: (972) 931-0100
    email: dra@docfaa.com
nav:
    - label: About
      id: home
    - label: Schedule
      id: schedule
    - label: Contact
      id: contact
    - label: Vitamins
      id: vitamins
---

<header class="band--header  flex-center" id="home">
    <section class="band__body flex-md-column flex-center text--accent">
        <div class="flex-center" style="width: 100%;">
            <figure style="width: 10rem; height: auto;" >
                {% include svg/logo.svg %}
            </figure>
            <figcaption>
                <h1 class="text--lg--responsive text--cursive pad-1--bottom--responsive underline">{{ page.title }}</h1>
                <h3 class="pad-1--top">{{ page.subTitle }}</h3>
            </figcaption>
        </div>
        <div class="pad-3--top">
            {% include _cta.html %}
        </div>
    </section>
</header>

<section class="band" id="about">
    <div class="band__body">
        <h2 class="section-title" >Our <span class="text--accent">Services</span></h2>
        <div class=" pad-5--top--responsive pad-3--top--mobile">
                {% for service in site.data.services %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                    <div class="pad-5--top flex-center flex-md-row {% if thecycle == 'odd' %}flex--reverse--mobile{% endif %}">
                        {% if thecycle == 'odd' %}
                            <h4 class="flex-md-1 pad-3--top--mobile text--h4 pad-3--right--responsive">
                                {{ service.text }}
                            </h4>
                            <div class="flex-md-1">
                                <img src="./images/{{ service.image }}" alt="" class="image--full image--shadow">
                            </div>
                        {% else %}
                            <div class="flex-md-1">
                                <img src="./images/{{ service.image }}" alt="" class="image--full image--shadow">
                            </div>
                            <h4 class="flex-md-1 pad-3--top--mobile text--h4 pad-3--left--responsive">
                                {{ service.text }}
                            </h4>
                        {% endif %}
                    </div>
                {% endfor %}
        </div>
    </div>
</section>

<section class="band--about text--shadow" id="">
    <div class="gradient-bg"></div>
    <div class="band__body">
        <h2 class="section-title">Meet your Doctor</h2>
        <div class="flex-md-row pad-3--top--mobile pad-5--top--responsive">
            <div class="flex-md-1 flex-center">
                <div class="image--doctor"></div>
            </div>
            <div class="flex-md-1 pad-3--left--responsive pad-3--top--mobile flex-md-column flex--space-between">
                <h3 class="section-title--side text--center--mobile">
                    {{ site.data.about.clientName }}
                </h3>
                <span  class="flex-md-1
                    flex-center--vertical
                    pad-1--top--mobile
                    text--md--responsive
                    text--thin">
                    {{ site.data.about.description }}
                </span>
            </div>
        </div>
    </div>
</section>

<section class="band--schedule" id="schedule">
    <div class="band__body">
        <h2 class="section-title">
            <span class="text--accent">Schedule</span> an Appointment
        </h2>
        <div class="flex-md-row pad-5--top">
            <div class="flex-md-1 flex-center flex-md-column">
                {% include svg/logo-200.svg %}
                {% include _cta.html %}
            </div>
            <div class="flex-md-1 pad-3">
                <h3 class="section-title--sub-section"><span class="text--accent">Open</span> Hours</h3>
                <div class="pad-2--top--mobile">
                    <ul class="pad-3--responsive">
                        {% for time in site.data.time %}
                            <li class="flex-inline flex--space-between width-100">
                                <span>{{ time.day }}</span>
                                <span>{{ time.hours }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="band--staff flex-md-column flex--just-end  text--shadow">
    <div class="gradient-bg"></div>
    <h2 class="section-title text--center" style="z-index: 1">Our amazing staff is here to help you reach your goals</h2>
</section>

<section class="band--contact flex-center flex-md-column" id="contact">
    <div class="band__body flex flex-md-row--reverse">
        <div class="pad-3--top--mobile flex-md-1 flex-center">
            {% include _map.html %}
        </div>
        <div class=" flex-md-1 flex-md-column flex--space-around pad-3--left--responsive">
            <h2 class="section-title--side"><span class="text--accent">Contact</span> Us</h2>
            <a class="link flex-md-1 flex-center--vertical pad-1--top--mobile"
                href="mailto:{{ page.contact.email }}"
                target="_blank">
                {{ page.contact.email }}
            </a>
            <a class="link flex-md-1 flex-center--vertical pad-1--top--mobile"
                href="tel://{{ page.contact.phone }}"
                target="_blank">
                {{ page.contact.phone }}
            </a>
            <a class="link flex-md-2 flex-center--vertical pad-1--top--mobile"
                href="https://goo.gl/maps/YfvWRqSFxp82"
                target="_blank">
                {% include _address.html %}
            </a>
        </div>
    </div>

    <div class="band__body text--center pad-3--top--mobile">
        Conveniently located at Arbor Green Family Medicine on
        Preston Road in North Dallas
    </div>
</section>

<section class="band flex-center" id="vitamins">
    <div class="band__body flex-center flex-md-row">
        <div class="width-50">
            <img class="image--full image--shadow" src="./images/vitamins.jpg" alt="">
        </div>
        <div class="pad-3--left--responsive pad-3--top--mobile">
            <a href="http://uscriptives.com/Redirect.aspx?PhyPin=DATX1512" class="link"><h2 class="section-title--side--responsive">Uscriptives Vitamins</h2></a>
            <h3 class="">Pharmaceutical grade vitamins and supplements. Speak with Dr Alaidroos about which ones are best for you. </h3>
        </div>
    </div>
</section>
