<footer class="flex-md-row">
    <div class="flex-md-1 pad-3 accent-text">
        <h3>
            17610 Preston Road<br/>
            Dallas, TX 75252
        </h3>
    </div>
    <div class="flex-md-1 pad-3 accent-text">
        <h3>
            For Life-Threating Emergencies Call 911
        </h3>
    </div>
    <div class="flex-md-1 flex-center accent pad-3">
        <a class="call-to-action" href="https://www.zocdoc.com/practice/arbor-green-family-medicine-clinic-4993">
            <div class="call-to-action--body">
                <h3>Make an Appointment</h3>
            </div>
        </a>
    </div>
</footer>
