<footer class="flex-md-row">
    <div class="flex-md-1 pad-3 accent-text">
        <h3>
            {% include _address.html %}
        </h3>
    </div>
    <div class="flex-md-1 pad-3 accent-text">
        <h3>
            <a href="tel://911">For Life-Threating Emergencies Call 911</a>
        </h3>
    </div>
    <div class="flex-md-1 flex-center accent pad-3">
        <a class="call-to-action" target="_blank" href="https://www.zocdoc.com/practice/arbor-green-family-medicine-clinic-4993">
            <div class="call-to-action--body">
                <h3>Make an Appointment</h3>
            </div>
        </a>
    </div>
</footer>
