<main class="flex-md-row general-container">
    <div class="flex-md-2 flex">
            <div class="flex-md-1 news">
                <h5 id="news-header">Latest Clinic News </h5>
                <ul class="news-headlines">
                    <li class="news-item">
                        Dr. Hania Alaidroos was picked by D-Magazine as "Best Doctor" in the Dallas/ Fort Worth area, for both 2007, 2008, 2009, 2010, 2011, and 2012.
                    </li>
                    <br><br>
                    <li class="news-item">
                        Dr. Hania Alaidroos was awarded the "Patients' Choice Award" for 2008. This award is voted on by patients and less than 5% of 720,000 active physicians in the United States are picked.
                    </li>
                </ul>
            </div>
            <div class="flex-md-1 services">
                 <h5 id="services-header"> Services </h5>
                <p> </p>
                <ul class="services-headlines">
                    <li class="services-item">
                        Women's Medicine
                    </li>
                    <li class="services-item">
                        Full Range Internal Medicine
                    </li>
                    <li class="services-item">
                        Full Range Pediatrics
                    </li>
                    <li class="services-item">
                        Full Range Geriatrics
                    </li>
                    <li class="services-item">
                        Immunizations
                    </li>
                    <li class="services-item">
                        Urgent Care
                    </li>
                    <li class="services-item">
                        Sports Medicine/ Injuries
                    </li>
                    <li class="services-item">
                        School Sports Physicals
                    </li>
                    <li class="services-item">
                        Annual Physicals
                    </li>
                </ul>
            </div>
    </div>

    <!-- new patient cta -->
    <div class= "flex-md-1 accent">
        <div class="row">
            <div class="col-md-12">
                <h5> New Patient? Click Here</h5>
            </div>
        </div>
    </div>
</main><!-- end general-info-container -->
