<header class="flex-md-row header">
    <div class="flex-md-1 flex-center accent">
        <a class="call-to-action" href="/">
            <img src="http://www.arborgreenclinic.com/images/logo.png" alt="">
        </a>
    </div>
    <div class="flex-md-2 flex-md-column header--side-item">
        <div class="flex-md-3 flex">
            <div class="flex-md-1 address flex-center">
                {% include _address.html %}
            </div>
            <div class="flex-md-1 flex-center">
                <ul>
                    <li><a href="tell://972-931-0100">972-931-0100</a></li>
                    <li><a href="mailto:info@arborgreenclinic.com">info@arborgreenclinic.com</a></li>
                </ul>
            </div>
        </div>
        <nav class="nav flex-md-row">
            {% for link in site.data.nav-links %}
              <a class="nav-link flex-md-1 flex-center{% if page.url contains link.href %} active{% endif %}"
                  href="{{link.href}}">
                  {{link.label}}
              </a>
              {% endfor %}
        </nav>
    </div>
</header> <!-- end header-container -->
