<div class="row times-container">
            <div class="col-md-8 time-pic">
                <img src="images/stock.jpg"/>
            </div>
            <div class="col-md-4 hours">
                <div class="row">
                    <div class="col-md-12 opening">
                        <h4 id="opening-hours"> Opening Hours:</h4>
                        <p> </p>
                        <ul class="times">
                            <li class="times-item">Monday&ensp;&ensp;&ensp;&ensp;&ensp;9:00am - 6:00pm</li>
                            <li class="times-item">Tuesday&ensp;&ensp;&ensp;&ensp;&ensp;9:00am - 6:00pm</li>
                            <li class="times-item">Wednesday&ensp;&ensp;9:00am - 6:00pm</li>
                            <li class="times-item">Thursday &ensp;&ensp;&ensp;    9:00am - 6:00pm</li>
                            <li class="times-item">Friday&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;9:00am - 6:00pm</li>
                            <li class="times-item">Saturday&ensp;&ensp;&ensp;&ensp;9:00am - 2:00pm</li>
                            <li class="times-item">Sunday&ensp;&ensp;&ensp;&ensp;&ensp;Closed</li>
                        </ul>
                    </div>
                </div>
                <div class="row appointment">
                    <div class="col-md-9" id="appointment">

                        <h5> <img src="images/appointment.png"/>&ensp;<a href="https://www.zocdoc.com/practice/arbor-green-family-medicine-clinic-4993">Make an Appointment</a></h5>
                    </div>
                </div>
            </div>
        </div><!-- end open-container -->
