<div class="flex-md-row">
    <div class="flex-md-2">
        <img class="image--full" src="images/stock.jpg"/>
    </div>
    <div class="flex-md-1">
        <div class="pad-3">
            <h4> Opening Hours:</h4>
            <ul >
                {% for time in site.data.time %}
                    <li class="flex-inline flex--space-between width-100">
                        <span>{{time.day}}</span><span>{{ time.hours }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- <div class="row appointment">
            <div class="col-md-9" id="appointment">
                <h5> <img src="images/appointment.png"/>&ensp;<a href="https://www.zocdoc.com/practice/arbor-green-family-medicine-clinic-4993">Make an Appointment</a></h5>
            </div>
        </div> -->
    </div>
</div><!-- end open-container -->
