$accent-bg: $maroon;
$accent-text: $light-text;
$primary-bg: $light-bg;

.accent {
    background: $accent-bg;
    color: $accent-text;

    &-text {
        color :$accent-bg;
    }
}

.primary {
    background: $primary-bg;
}
