$flex-directions: row, column;
$flex-sizes: 1, 2, 3;

.flex {
    display: flex;

    &-inline {
        display: inline-flex;
    }

    &--reverse {

        &--mobile {
            @media (max-width: $responsive-screen-size) {
                flex-direction: column-reverse;
            }
        }
    }

    &--space-between {
        justify-content: space-between;
    }

    @each $direction in $flex-directions {
        @each $screen, $screen-size in $screen-sizes {
            &-#{$screen}-#{$direction} {
                @extend .flex;
                flex-direction: column;


                @media (min-width: $screen-size) {
                    flex-direction: $direction;
                }

                &--reverse {
                    @extend .flex;
                    flex-direction: column-reverse;

                    @media (min-width: $screen-size) {
                        flex-direction: $direction;
                    }
                }
            }
        }
    }

    &-center {
        display: flex;
        justify-content: center;
        align-items: center;

        &--vertical {
            @extend .flex-center;
            justify-content: flex-start;
        }

        &--flex-end {
            @extend .flex-center;
            justify-content: flex-end;
        }
    }

    &--space-between {
        justify-content: space-between;
    }

    &--space-around {
        justify-content: space-around;
    }

    @each $size in $flex-sizes {
        @each $screen, $screen-size in $screen-sizes {
            &-#{$screen}-#{$size} {
                flex: 1;
                @media (min-width: $screen-size) {
                    flex: $size;
                }
            }
        }
    }
}
