
/*font-family: 'Cairo', sans-serif;
font-family: 'Montserrat', sans-serif;*/
$maroon: #800000;
$bg-primary: $maroon;
$bg-light: white;
$light-text: white;
$dark-text: #333;
$accent-text: $maroon;
$light-bg: white;
$dark-bg: gray;
$dark-accent: $dark-bg;
$container-max-width: 900px;
$yellow: #f5d76e;
$sm-screen: 500px;
$md-screen: 700px;
$screen-sizes: (
    md: 700px
);
$box-shadow: 20px 20px 60px rgba(0,0,0,0.2), 30px 30px 80px rgba(0,0,0,0.1);
*{
   margin: 0;
   padding: 0;
   resize: none;
   font-family: Cairo;
   box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: $dark-text;
}

.text--accent {
    color: $accent-text;
}

h5 {
    font-family: Montserrat;
}

.container{
    max-width: $container-max-width;
    width: 100%;
    margin: auto;
    background: $light-bg;
    box-shadow: $box-shadow;

    @media (min-width: $sm-screen) {
        width: 90%;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $accent-text;

    &:visited {
        color: $accent-text;
    }

    &:hover {
        color: $accent-text;
        text-decoration: underline;
    }
}
.main-container{
	background-color: $dark-bg;
}

.general-container{
	height:30em;
	background-color:$light-text;
}

.border-left {
    border-left: 1px solid $dark-accent;
}
