$maroon: #800000;
$bg-primary: $maroon;
$bg-light: white;
$light-text: white;
$dark-text: #444;
$accent-text: $maroon;
$light-bg: white;
$dark-bg: gray;
$dark-accent: $dark-bg;
$yellow: #f5d76e;
$nav-height: 3rem;
$sm-screen: 500px;
$md-screen: 700px;
$screen-sizes: (
    xs: 0px,
    md: 700px
);
$box-shadow: 20px 20px 60px rgba(0,0,0,0.2), 30px 30px 80px rgba(0,0,0,0.1);
$responsive-screen-size: 700px;

// Used for band layout
$container-max-width: 900px;

// Base Styles
*{
   margin: 0;
   padding: 0;
   resize: none;
   // font-family: Helvetica;
   font-family: 'Open Sans', Helvetica, sans-serif;
   font-weight: 200;
   line-height: 1.5;
   box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: $dark-text;
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}
