/*font-family: 'Cairo', sans-serif;
font-family: 'Montserrat', sans-serif;*/

*{
   margin: 0;
   padding: 0;
   resize: none;
   font-family: Cairo;
  }

.container{
	padding: 0 5em 0 5em;
}

.main-container{
	background-color:gray;
}
.logo{
	background-color: #800000;
	padding: 5em;
}

.header-container{
	height:12.5em;
}
.header-info{
	background-color: white;
	height:9em;
	text-align:center;

}

.address{
	margin: 7% 0 0 0;
	font-family: Cairo;
	color: #800000;
}

.address-list{
	list-style-type: none;
}
.phone{
	margin: 8% 0 0 0;
	font-family: Cairo;
	font-size: 1.5em;
	color: #800000;
}

.phone img{
	height:1.5em;
	width:1.5em;
}
.nav{
	background-color: #f5d76e;
	padding: 1em;
	height:25%;
}

.time-pic{

	height: 21em;
}

.hours{
	height: 21em;
}
#opening-hours{
	font-family: Montserrat;
	margin: 1em 0 0 1.5em;
	color: #800000;
}
.opening{
	border-bottom: 1px black solid;
	color: #800000;
}

.times-container{
	padding:0;
	background-color:white;
}

.times{
	    list-style-type: none;
	    line-height:1.25em;
	    margin: .5em 0 0 2.3em;
	    padding: 0 0 1.75em 0;

}

.time-pic{
	padding:0;
}

.time-pic img{
	height:100%;
	width: 100%;
	padding:0;
}

.times-item{
	margin: 0 0 .2em 0;
}

.appointment{
	height: 5.2em;
	background-color: #800000;
	border: 3px white solid;
}

.appointment img{
	height:1.75em;
	width:1.75em;
}
#appointment{
	background-color: #800000;
	margin: 7% 0 0 15%;
	color: white;
	padding: 0;

}

#appointment a{
	text-decoration: none;
	color: white;
}
.general-container{
	height:30em;
	background-color:white;
}

.info{
	height:30em;

}
.news{
	height:30em;
	padding: 3em 2em 0 2em;
	color: #800000;
}

#news-header{
	font-family: Montserrat;
	color: #800000;
}

.news-headlines{
	list-style: none;

}
.services{
	height:30em;
	padding: 3em 2em 0 4em;
	border-left: 1px solid black;
}

span{
	text-align: right;
}
#services-header{
	font-family: Montserrat;
	color: #800000;
}
.services-headlines{
	line-height: 2em;
	color: #800000;
}
.services-item{
	margin: 0 0 .2em 0;
}
.new-patient{
	background-color: #800000;
	height:30em;
	padding:0;
}

.new-patient-header{
	text-align: center;
	padding:1.5em 0 1.5em 0;
	border: 3px solid white;
	width: 22em;
}

.new-patient-header h5{
	font-family: Montserrat;
	font-weight: bold;
	color:white;
	padding:0;
}
.new-patient img{
	height:25em;
	width:21.1em;
}

span{
	height:15em;
	width:17em;
	margin: 0 0 15em 0;
	position:relative;
	background-color: black;
	z-index:1;
}
.find-us{
	background-color: gray;
	height:10em;
}

.products-border{
	background-color: #800000;
	height:10em;
	padding: 1em 1em 1em 1em;
}

.products{
	border: 2px white solid;
}
.map{
	background-color: gray;
	height: 10em;
	padding:0;
}
iframe{
	height: 10em;
	width:21em;
}
