$paddings: 1, 2, 3, 5, 7;
$positions: "top", "left", "right", "bottom";

@each $pad in $paddings {
    .pad-#{$pad}{
        padding: $pad * 1rem;

        &--responsive {
            @media (min-width: $responsive-screen-size) {
                padding: $pad * 1rem;
            }
        }


        @each $position in $positions {
            &--#{$position} {
                padding-#{$position}: $pad * 1rem;

                &--mobile {
                    @media (max-width: $responsive-screen-size) {
                        padding-#{$position}: $pad * 1rem;
                    }
                }

                &--responsive {
                    @media (min-width: $responsive-screen-size) {
                        padding-#{$position}: $pad * 1rem;
                    }
                }
            }
        }
    }
}
