$paddings: 1, 2, 3, 5;

@each $pad in $paddings {
    .pad-#{$pad}{
        padding: $pad * 1rem;

        &--responsive {
            @media (min-width: $responsive-screen-size) {
                padding: $pad * 1rem;
            }
        }

        &--left {
            padding-left: $pad * 1rem;

            &--responsive {
                padding-left: 0;

                @media (min-width: $responsive-screen-size) {
                    padding-left: $pad * 1rem;
                }
            }
        }

        &--top {
            padding-top: $pad * 1rem;

            &--mobile {
                @media (max-width: $responsive-screen-size) {
                    padding-top: $pad * 1rem;
                }
            }

            &--responsive {
                @media (min-width: $responsive-screen-size) {
                    padding-top: $pad * 1rem;
                }
            }
        }

        &--bottom {
            padding-bottom: $pad * 1rem;

            &--mobile {
                @media (max-width: $responsive-screen-size) {
                    padding-bottom: $pad * 1rem;
                }
            }

            &--responsive {
                @media (min-width: $responsive-screen-size) {
                    padding-bottom: $pad * 1rem;
                }
            }
        }
    }
}
