---
layout: with-secondary-header
title: Our Staff
header-images:
    - https://placehold.it/200x100
    - https://placehold.it/200x100
---
<main class="flex-md-row accent-text">
    <div class="flex-md-2">
        <article class="pad-3">
            <p class="accent-text">
                Welcome to Arbor Green Family Medicine Clinic in Dallas, TX where patients come first. Our mission is to provide Executive level medical care to everyone and we strive to do this in a way that is customized for each patient individually. Your time is our highest priority and every effort is made to get you back to your busy schedule as quickly as possible. If however, the need should arise for more interventional care, such as requiring specialists or surgeries etc., we refer to some of the best doctors and hospitals in the area, working closely with them. Again the plan is to get you well in the most rapid and comfortable way possible. We wish to be there for you during all the phases of your life.
            </p>

            {% for doctor in site.data.doctors %}
            <figure class="flex-center pad-3">
                <img class="image--doctor" src="{{doctor.image}}" alt="">
            </figure>
            <figurecaption>
                {{doctor.name}}
            </figurecaption>
                {% for p in doctor.bio %}
                    <p>{{p}}</p>
                {% endfor %}
            {% endfor %}
        </article>
    </div>
    <div class="flex-md-1">
        <aside class="pad-1">
            <h3>Latest Clinic News:</h3>

            {% for news in site.data.clinic-news %}
                <p>
                    {{news.text}}
                </p>
            {% endfor %}
        </aside>
    </div>
</main>
