<header class="row header-container">
    <div class="col-md-4 logo">
        <p> the logo will be here </p>
    </div>
    <div class="col-md-8">
        <div class="row header-info">
            <div class="col-md-6 address">
                <ul class="address-list">
                    <li>17610 Preston Road</li>
                    <li>Dallas, TX 75252</li>
                </ul>
            </div>
            <div class="col-md-6 phone">
                <p><img src="images/phone.png"/>&ensp; 972-931-0100 </p>
            </div>
        </div>
        <div class="row">
           <nav class="nav nav-inline">
               {% for link in site.data.nav-links %}
                 <a class="nav-link{% if page.url contains link.href %} active{% endif %}"
                     href="{{link.href}}">
                     {{link.label}}
                 </a>
                 {% endfor %}

           </nav>
        </div>
    </div>
</header> <!-- end header-container -->
