$image-box-shadow: $box-shadow;
$doctor-image-size: 12rem;
$icon-image-size: 1.25rem;

.image {

    &--full{
        width: 100%;
        height: auto;
    }

    &--icon {
    	height: $icon-image-size;
    	width: $icon-image-size;
        display: inline-block;
        margin-bottom: -.25rem;
    }
    
    &--shadow {
        box-shadow: $image-box-shadow;
    }
    
    &--doctor {
        box-shadow: $image-box-shadow;
    	height: $doctor-image-size;
    	width: $doctor-image-size;
        border-radius: 50%;
        background-image: url("../images/hania-head-shot.jpg");
        background-size: cover;

        @media (min-width: $responsive-screen-size) {
            width: 100%;
            height: 500px;
            border-radius: 0%;
            background-image: url("../images/hania-portfolio.jpg");
        }

    }

    &--cta {
        &-form {
            background-image: url('/images/form_pic_gray.jpg');
            background-blend-mode: multiply;
            background-size: cover;
        }
    }
}
