@mixin link ($color) {
    text-decoration: none;
    color: $color;

    &:visited {
        color: $color;
    }

    &:hover {
        color: $color;
        text-decoration: underline;
    }
}

.link {
    &--accent {
        @include link($light-text)
    }
}
