@mixin link ($color) {
    text-decoration: none;
    color: $color;

    &:visited {
        color: $color;
    }

    &:hover {
        color: $color;
        text-decoration: underline;
    }
}

.link {
    @include link($accent-text);

    &--accent {
        @include link($light-text);
    }
}
