$nav-bg: $light-bg;
$nav-min-height: 3rem;
$nav-padding: 1rem;
$nav-link-hover-bg-color: darken($maroon, 10%);
$nav-link-active-bg-color: darken($maroon, 10%);
$nav-link-hover-color: $accent-text;
$nav-link-color: $accent-text;

.nav{
	background-color: $nav-bg;
    // min-height: $nav-min-height;
    position: fixed;
    width: 100%;
    // background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .0));

    // Remove this 700px
    @media(min-width:  700px) {
        min-height: $nav-min-height;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 0;
    }

    &__link {
        font-size: 1rem;
	    padding: $nav-padding;
        text-decoration: none;

        &.active {
            background-color: $nav-link-active-bg-color;

            &:visited {
                background-color: $nav-link-active-bg-color;
            }
        }

        &:visited {
            color: $nav-link-color;
        }

        &:hover {
            background: $nav-link-hover-bg-color;
            color:  $nav-link-hover-color;
        }
    }
}
