$st-padding: 3em;
$st-font-size: 2.5em;
$sub-st-font-size: 2em;

.section-title {
    font-size: $st-font-size;
    text-align: center;
    width: 100%;

    &--services {
        @extend .section-title;
        color: $accent-text;
    }

    &--side {
        @extend .section-title;
        text-align: left;

        &--responsive {
            @extend .section-title;
            @media (min-width: $responsive-screen-size) {
                text-align: left;
            }
        }
    }

    &--sub-section {
        @extend .section-title;
        font-size: $sub-st-font-size;
    }
}
