$secondary-header-height: 100px;

.secondary-header {
    height: 100%;
    display: flex;

    @media (min-width: 700px) {
        height: $secondary-header-height;
    }

    &--title{
        width: 100%;
        flex: 2;
    }

    &--image{
        width: 100%;
        flex: 1;
    }
}
