.text {

    &--accent {
        color: $accent-text;
    }

    &--center {
        text-align: center;

        &--mobile {
            @media (max-width: $responsive-screen-size) {
                text-align: center;
            }
        }
    }
}
