.text {

    &--shadow {
        text-shadow: 0px 0px 12px rgba(black, 0.2);
    }
    &--accent {
        color: $accent-text;
    }

    &--cursive {
        font-family: 'Dancing Script', cursive;
    }

    &--thin {
        font-weight: 200;
    }

    &--center {
        text-align: center;

        &--mobile {
            @media (max-width: $responsive-screen-size) {
                text-align: center;
            }
        }
    }

    &--lg {
        font-size: 5em;

        &--responsive {
            font-size: 2em;

            @media (min-width: $responsive-screen-size) {
                font-size: 5em;
            }
        }
    }

    &--md {
        font-size: 3em;

        &--responsive {
            font-size: 1em;

            @media (min-width: $responsive-screen-size) {
                font-size: 1.25em;
            }
        }
    }
}
