.text {
    &--accent {
        color: $accent-text;
    }

    &--cursive {
        font-family: 'Dancing Script', cursive;
    }

    &--center {
        text-align: center;

        &--mobile {
            @media (max-width: $responsive-screen-size) {
                text-align: center;
            }
        }
    }

    &--lg {
        font-size: 5em;

        &--responsive {
            font-size: 2em;
    
            @media (min-width: $responsive-screen-size) {
                font-size: 5em;
            }
        }
    }
}
